* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  width: 100%;
}

input{
  border: 1.5px solid black;
}

input:focus{
  outline: none;
}

/* Hide the arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide the arrows in WebKit browsers */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

abbr{
  color: #007aff
}

@media print {
  body * {
    visibility: hidden !important;
    height: 0 !important;
    overflow: hidden;
    color:black !important;
  }

  #print-section,
  #print-section * {
    visibility: visible !important;
    height: auto !important;
    overflow: visible !important;
  }

  #print-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  button,
  #non-print {
    display: none !important;
  }
}

